* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-main {
    position: relative;
    .sidebar-main {
        background-color: #1F2124;
        padding: 20px 4px;
        width: 80px;
        height: 100vh;
        position: fixed;
        top: 0;
    }
}